<a href="https://colab.research.google.com/github/monir430474/moniredge/blob/main/pythoncodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=5
y="john"
print(x)
print(y)

5
john

In [3]:
x=4 # x is not a string
y="tashnir" #y is not a int
print (x)
print (y)

4
tashnir

In [5]:
x=3
y=("shakil")
z=float("5")
print(x,y,z)

3 shakil 5.0

In [12]:
import sys
x=int(3)
y=str("tashnirn")
z=float(10)
print(x , type(x), sys.getsizeof(x), y , type (y), sys.getsizeof(y), z, type (z), sys.getsizeof(z)  )

3 <class 'int'> 28 tashnirn <class 'str'> 57 10.0 <class 'float'> 24

In [14]:
name = ("monir")
age=36
txt=("his name is {} and he is {} years old ")
print (txt.format (name,age ))

his name is monir and he is 36 years old